.App {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
}

body::-webkit-scrollbar {
	display: none;
  }

.wrapper {
	max-width: 1050px;
	padding-top: 30px;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.big {
	font-size:20px;
	font-weight: bold;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

/* .cards {
	display: flex;
	flex-direction: row;
} */

.card {
	margin-left: -17%;
	max-width: 22vw;
	display: inline-block;
	/* transition: .2s;
	position: relative;
	display: inline-block; */
}

.cardImage {
	max-width: 22vw;
}

/*
.cardImage.front {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.cardImageBack__wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
} */

.firstCard {
	margin: 0
}

.red {
	color: 'red'
}

.bid {
	min-height: 32px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bid h2 {
	margin: 0;
}

.interface {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.cards-wrapper {
	margin: 30px auto;
}